<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin Register - NexaCart</title>

    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    >

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='admin_register.css') }}"
    >
</head>

<body>

<div class="admin-register-page">

    <div class="register-card">

        <div class="register-icon">
            <i class="fa-solid fa-user-shield"></i>
        </div>

        <div class="register-header">
            <span class="register-label">NEXACART ADMIN</span>

            <h1>Create Admin Account</h1>

            <p>
                Register your administrator account to manage NexaCart.
            </p>
        </div>


        {% if error %}
        <div class="register-error">
            <i class="fa-solid fa-circle-exclamation"></i>
            <span>{{ error }}</span>
        </div>
        {% endif %}


        <form
            method="POST"
            action="{{ url_for('admin_register') }}"
            id="adminRegisterForm"
        >

          <div class="form-group">

    <label for="username">
        Username
    </label>

    <div class="input-box">
        <i class="fa-solid fa-user"></i>

        <input
            type="text"
            id="username"
            name="username"
            placeholder="Enter admin username"
            autocomplete="username"
            required
        >
    </div>

</div>


<div class="form-group">

    <label for="email">
        Email Address
    </label>

    <div class="input-box">
        <i class="fa-solid fa-envelope"></i>

        <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter admin email"
            autocomplete="email"
            required
        >
    </div>

</div>


<div class="form-group">

    <label for="phone">
        Phone Number
    </label>

    <div class="input-box">
        <i class="fa-solid fa-phone"></i>

        <input
            type="tel"
            id="phone"
            name="phone"
            placeholder="Enter phone number"
            autocomplete="tel"
            maxlength="15"
            required
        >
    </div>

</div>


<div class="form-group">

    <label for="password">
        Password
    </label>

    <div class="input-box">
        <i class="fa-solid fa-lock"></i>

        <input
            type="password"
            id="password"
            name="password"
            placeholder="Create password"
            autocomplete="new-password"
            required
        >

        <button
            type="button"
            class="password-toggle"
            id="passwordToggle"
            aria-label="Show password"
        >
            <i class="fa-solid fa-eye"></i>
        </button>
    </div>

</div>


<div class="form-group">

    <label for="confirm_password">
        Confirm Password
    </label>

    <div class="input-box">
        <i class="fa-solid fa-shield-halved"></i>

        <input
            type="password"
            id="confirm_password"
            name="confirm_password"
            placeholder="Confirm password"
            autocomplete="new-password"
            required
        >

        <button
            type="button"
            class="password-toggle"
            id="confirmPasswordToggle"
            aria-label="Show password"
        >
            <i class="fa-solid fa-eye"></i>
        </button>
    </div>

</div>

                </div>

            </div>


            <button
                type="submit"
                class="register-button"
                id="registerButton"
            >
                <i class="fa-solid fa-user-plus"></i>
                Create Admin Account
            </button>

        </form>


        <div class="login-link">

            Already have an admin account?

            <a href="{{ url_for('admin_login') }}">
                Login here
            </a>

        </div>


        <a
            href="{{ url_for('home') }}"
            class="back-home"
        >
            <i class="fa-solid fa-arrow-left"></i>
            Back to NexaCart
        </a>

    </div>

</div>


<script src="{{ url_for('static', filename='admin-register.js') }}"></script>

</body>
</html>